@media (max-width: 912px) {
  .main {
    flex-wrap: wrap;
    margin: 0;
  }

  h2 {
    margin-top: 0;
    font-size: 18px;
  }

  .header2 {
    margin-bottom: 20px;
  }

  .about__promo {
    width: 100%;
    margin: 50px;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    margin: 0;
    height: 100vh;
  }

  .img-bg {
    top: 0;
    margin-top: 10px;
  }

  .cv__btn {
    display: none;
  }

  .project-info {
    flex-wrap: wrap;
    left: 0;
    width: 100%;
  }

  .project-works {
    height: 80vh;
  }

  .description p {
    width: 80%;
  }
}


@media (max-width: 640px) {
  .about__promo {
    flex-wrap: wrap;
  }

  .timeline {
    flex-direction: column;
  }

  .timeline-column {
    width: 100%;
  }

  .single-chart {
    width: 50%;
  }

  .skill-block {
    flex-wrap: wrap;
  }
}

@media (max-width: 460px) {

  .timeline-column:last-child {
    display: none;
  }

  .section {
    margin: 0 20px;
  }

  .menu {
    min-width: 80px;
  }

  .projects-block {
    width: 250px;
    height: 150px;
  }

  .projects-block .image img {
    height: 150px;
  }
}