html {
  scroll-behavior: smooth;
}


body {
  position: relative;
  font-family: 'Nunito', sans-serif;
  line-height: 1.1;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Work Sans', sans-serif;
}

.main {
  margin: 0 50px;
  display: flex;
  justify-content: start;
}

h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  margin-top: 50px;
}

.about__promo {
  position: relative;
  width: 300px;
}

.img-bg {
  border: 15px solid rgb(199, 243, 112);
  height: 230px;
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
  opacity: 0.9;
  position: relative;
  display: block;
  left: 0px;
  top: 50px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 0.5s ease-in;
}

.featured-img {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 0.5s ease-in;
}

.featured-img img {
  vertical-align: middle;
}

.red-text {
  color: rgb(245, 96, 96);
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(245, 96, 96);
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(245, 96, 96) }
}

.menu {
  background-color: #eef85f;
  transition: .5s ease;
  overflow: hidden;
  margin: 0 10px;
  min-width: 100px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

.menu ul li {
  position: relative;
  border-bottom: 1px solid #e2e97f;
  list-style: none;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  padding: calc((100vh - 300px)/10) 0;
}

.menu ul li:before {
  content: "";
  position: relative;
  display: block;
  background: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.menu ul li:first-child::before {
  background-position: 0px -163px;
  background-size: 50px;
}

.menu ul li:nth-child(2)::before {
  background-position: 0px -163px;
  background-size: 63px;
  width: 35px;
  height: 40px;
}

.menu ul li:nth-child(3)::before {
  background-position: 4px -33px;
  background-size: 60px;
  width: 40px;
  height: 40px;
}

.menu ul li:nth-child(4)::before {
  background-position: 0 4px;
  background-size: 60px;
  width: 40px;
  height: 40px;
}

.menu ul li:nth-child(5)::before {
  background-position: 0 -415px;
  background-size: 78px;
  width: 34px;
  height: 33px;
}

.menu ul li:hover {
  background-color: rgb(199, 243, 112);
}

.menu__active {
  background-color: rgb(199, 243, 112);
}

.section {
  transition: 0.8s ease;
  position: absolute;
  margin: 0 50px;
  z-index: 10;
}

.hidden {
  opacity: 0;
  z-index: 5;
}

.cv__btn {
  display: flex;
  justify-content: center;
}

.cv__btn a {
  text-decoration: none;
  color: #333;
  text-align: center;
  padding: 14px 30px;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: rgb(245, 96, 96);
  cursor: pointer;
  border-radius: 30px;
  position: absolute;
  bottom: 50px;
  transition: 0.5s ease;
}

.cv__btn a:hover {
  background-color: rgb(216, 83, 83);
  transform: scale(1.1);
}

.summary {
  list-style: none;
  counter-reset: steps;
}

.summary li {
  counter-increment: steps;
  margin: 20px 0;
}

.summary li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: rgb(245, 96, 96);
  color: white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.5em;
}

.header2 {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
  margin-bottom: 50px;
}

.skill-block {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.single-chart h3 {
  text-align: center;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart .circle {
  stroke: rgb(245, 96, 96);
}


.percentage {
  fill: #333;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.my-education,
.my-experience {
  margin-bottom: 20px;
}

.timeline {
  display: flex;
}

.timeline-column {
  width: 50%;
  position: relative;
}

.timeline-column .inner {
  position: relative;
  padding-left: 13px;
  padding-bottom: 2px;
}

.timeline-column .inner:before {
  content: '';
  position: absolute;
  left: 14px;
  top: 20px;
  border-left: 1px solid rgb(245, 96, 96);
  bottom: 0;
}

.timeline-block {
  position: relative;
  margin-bottom: 28px;
}

.inner-box {
    position: relative;
    padding-left: 30px;
}

.timeline-block h4 {
    position: relative;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.timeline-block h4:before {
  content: '';
  position: absolute;
  left: -37px;
  top: 4px;
  width: 13px;
  height: 13px;
  border: 2px solid  rgb(245, 96, 96);
  border-radius: 50%;
  background: #fff;
}

.timeline-block .date {
  position: relative;
  display: inline-block;
  margin-bottom: 9px;
  line-height: 24px;
  font-size: 14px;
  color: #222;
  font-weight: 400;
}

.timeline-block .date span {
  color: rgb(245, 96, 96);
}

.timeline-block .text {
    font-size: 14px;
    color:#707070;
}

.timeline-block .text a {
  cursor: pointer;
}

.projects-title {
  margin-bottom: 20px;
}

.project-works {
  display: flex;
  flex-wrap: wrap;
  height: 440px;
  overflow-y: scroll;
  gap: 20px;
}

.project-works::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #dfdfdf;
}


.project-works::-webkit-scrollbar-thumb {
  background-color: rgb(245, 96, 96);
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.project-works::-webkit-scrollbar-thumb:hover {
  background-color: rgb(218, 80, 80);
  cursor: pointer;
}

.projects-block {
  width: 335px;
  height: 200px;
}

.inner-block {
  position: relative;
}

.projects-block .image {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.projects-block .image img {
  width: 100%;
  height: 200px;
  transition: .5s ease;
}

.projects-block .image::before {
  background: rgba(245, 96, 96, 0.9);
  bottom: 0px;
  content: "";
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9;
  transition: all 0.4s ease-in-out 0s;
}
.projects-block:hover .image img {
	transform: scale(1.15);
}

.projects-block:hover .image::before {
  opacity: 1;
}

.projects-block .overlay {
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
  z-index: 10;
  cursor: pointer;
}

.projects-block .overlay a {
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-50%) scale(0.6);
  transition: all 0.4s ease 0s;
  width: 60px;
}

.projects-block .overlay a i {
  background-image: url('../images/sprite.png');
  width: 30px;
  height: 30px;
  margin: 15px;
  background-position: 0px -578px;
  background-size: 100px;
  background-repeat: no-repeat;
  display: block;
}

.projects-block .overlay a:hover {
  background: rgba(255, 255, 255, .8) none repeat scroll 0 0;
  color: #000;
}

.projects-block:hover .overlay a {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.projects-block .overlay {
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
  z-index: 10;
}

.projects-block:hover .overlay {
  opacity: 1;
}

.projects-block .caption-title {
  bottom: 20px;
  left: 20px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  z-index: 12;
}

.projects-block:hover .caption-title {
  opacity: 1;
}

.projects-block .caption-title h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  transform: translateY(15px);
  transition: all 0.4s ease-in-out 0s;
}

.projects-block .caption-title h3 a {
  color: #fff;
}

.projects-block:hover .caption-title h3 {
  transform: translateX(0px);
}

.details {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  transition: 0.8s ease-in;
  z-index: 0;
}

.show {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.outer-box {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  opacity: 0.87;
}

.project-info {
  position: absolute;
  display: flex;
  width: 60%;
  padding: 50px 100px;
  top: 14%;
  left: 14%;
  background-color: #fff;
  opacity: 1;
}

.project-info figure {
  margin-right: 50px;
}

.description h3 {
  margin-bottom: 20px;
}

.description h4 {
  margin-bottom: 10px;
}

.description h5 {
  margin-top: 20px;
}

.close-form {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 16%;
  right: 14%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 30;
}

.close-form::before,
.close-form::after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: #030303;
}

.close-form::before {
  transform: rotate(45deg);
}

.close-form::after {
  transform: rotate(-45deg);
}

.hide {
  display: none;
}

.contacts h2,
.contacts h3,
.contacts p {
  margin-bottom: 30px;
}

.phone::before,
.email::before {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.phone::before {
  background-position: 0px -267px;
  background-size: 50px;
}

.email::before {
  background-position: 0px -209px;
  background-size: 90px;
}
